.smarttribune-snippet-loading {
  background-image: url('images/loading.gif');
  border: none;
  display: inline-block;
  height: 15px;
  margin-left: 10px;
  width: 15px;
}

.smarttribune-snippet-disabled td.smarttribune-snippet-name,
.smarttribune-snippet-disabled td.smarttribune-snippet-code {
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  font-size: 95%;
  font-style: italic;
  opacity: 0.5;
}
